name: Build and Release Scanner App

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller pywin32 pillow

      - name: Build with PyInstaller
        run: |
          pyinstaller --noconsole --onefile --name "SimpleScanner" --hidden-import=win32com.client scanner_app.py

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/SimpleScanner.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
